@font-face {
    font-family: "Montserrat Light";
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

$text-primary: #f8f4f0;
$text-secondary: #1a1a1a;
/* --bg-primary: #23232e; */
$bg-seconday: #f8f5f2;
$bg-product: #f2eeeb;
$clr-accent: #e3dfdc;

$ff-primary: "Open Sans", sans-serif, monospace;

/* --ff-body: var(--ff-primary); */
/* --ff-heading: var(var(--ff-primary)); */

$fw-regular: 400;
$fw-semi-semi-bold: 500;
$fw-semi-bold: 600;
/* --fw-bold: 700; */

$fs-300: 0.9rem;
$fs-400: 1rem;
$fs-450: 1.3rem;
$fs-500: 2rem;
/* --fs-700: 1.875rem; */
/* --fs-800: 2.5rem; */
/* --fs-900: 3.5rem; */

/* --fs-body: var(--fs-400); */
/* --fs-primary-heading: var(--fs-900); */
/* --fs-secondary-heading: var(--fs-800); */
$fs-nav: $fs-300;
/* --fs-button: var(--fs-300); */
